* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica_bold";
  src: url(../fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: "Helvetica_Oblique";
  src: url(../fonts/Helvetica-Oblique.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .column {
  width: 33.3%;
  height: 100%;
  float: left;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 1;
}

.container .column:last-child {
  border-right: none;
}

.container .column .content {
  position: relative;
  height: 100%;
}

.container .column .content .box {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 50%;
  transform: translateY(100%);
  box-sizing: border-box;
  padding: 2%;
  background-color: #00000075;
  text-align: center;
  color: ghostwhite;
  transition: 1s;
  opacity: 0;
}

.container .column .content .box .last {
  background-image: none;
}
.container .column.active .content .box {
  opacity: 1;
  transform: translateY(-50%);
}

h2 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
  font-size: 5vw;
  color: #fff;
  font-family: "Helvetica_bold";
}

.container .column .content .box p {
  color: #262626;
  font-size: 18px;
}

.container .column .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.container .column.active .bg.bg1 {
  background: url(../images/networks.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 3s;
}

.container .column.active .bg.bg2 {
  background: url(../images/tangible.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 3s;
}

.container .column.active .bg.bg3 {
  background: url(../images/skin.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 3s;
}
